@font-face {
  font-family: 'engineIcons';
  src:  url('engine-icons.eot?spat4u');
  src:  url('engine-icons.eot?spat4u#iefix') format('embedded-opentype'),
    url('engine-icons.ttf?spat4u') format('truetype'),
    url('engine-icons.woff?spat4u') format('woff'),
    url('engine-icons.svg?spat4u#engineIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="stylei-"], [class*=" stylei-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: engineIcons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stylei-add-submenu:before {
  content: "\e900";
}
.stylei-alert:before {
  content: "\e901";
}
.stylei-align-center:before {
  content: "\e902";
}
.stylei-align-justify:before {
  content: "\e903";
}
.stylei-align-left:before {
  content: "\e904";
}
.stylei-align-right:before {
  content: "\e905";
}
.stylei-android:before {
  content: "\e906";
}
.stylei-apple:before {
  content: "\e907";
}
.stylei-arrow-down:before {
  content: "\e908";
}
.stylei-arrow-next:before {
  content: "\e909";
}
.stylei-arrow-prev:before {
  content: "\e90a";
}
.stylei-arrow-up:before {
  content: "\e90b";
}
.stylei-bold:before {
  content: "\e90c";
}
.stylei-bookmark:before {
  content: "\e90d";
}
.stylei-bootstrap:before {
  content: "\e90e";
}
.stylei-briefcase:before {
  content: "\e90f";
}
.stylei-browse:before {
  content: "\e910";
}
.stylei-bulleted-list:before {
  content: "\e911";
}
.stylei-calendar:before {
  content: "\e912";
}
.stylei-camera:before {
  content: "\e913";
}
.stylei-cart-add:before {
  content: "\e914";
}
.stylei-cart-full:before {
  content: "\e915";
}
.stylei-cash:before {
  content: "\e916";
}
.stylei-change-style:before {
  content: "\e917";
}
.stylei-chat:before {
  content: "\e918";
}
.stylei-clock:before {
  content: "\e919";
}
.stylei-close:before {
  content: "\e91a";
}
.stylei-cloud:before {
  content: "\e91b";
}
.stylei-code:before {
  content: "\e91c";
}
.stylei-contact-form:before {
  content: "\e91d";
}
.stylei-credit-card:before {
  content: "\e91e";
}
.stylei-cursor-click:before {
  content: "\e91f";
}
.stylei-cust-feedback:before {
  content: "\e920";
}
.stylei-database:before {
  content: "\e921";
}
.stylei-delivery:before {
  content: "\e922";
}
.stylei-desktop:before {
  content: "\e923";
}
.stylei-devices:before {
  content: "\e924";
}
.stylei-down:before {
  content: "\e925";
}
.stylei-download:before {
  content: "\e989";
}
.stylei-drag-n-drop:before {
  content: "\e927";
}
.stylei-drag-n-drop2:before {
  content: "\e928";
}
.stylei-edit:before {
  content: "\e929";
}
.stylei-edit2:before {
  content: "\e92a";
}
.stylei-error:before {
  content: "\e92b";
}
.stylei-extension:before {
  content: "\e92c";
}
.stylei-features:before {
  content: "\e92d";
}
.stylei-file:before {
  content: "\e92e";
}
.stylei-flag:before {
  content: "\e92f";
}
.stylei-folder:before {
  content: "\e930";
}
.stylei-gift:before {
  content: "\e931";
}
.stylei-github:before {
  content: "\e932";
}
.stylei-globe:before {
  content: "\e933";
}
.stylei-globe-2:before {
  content: "\e934";
}
.stylei-growing-chart:before {
  content: "\e935";
}
.stylei-hearth:before {
  content: "\e936";
}
.stylei-help:before {
  content: "\e937";
}
.stylei-home:before {
  content: "\e938";
}
.stylei-hot-cup:before {
  content: "\e939";
}
.stylei-idea:before {
  content: "\e93a";
}
.stylei-image-gallery:before {
  content: "\e93b";
}
.stylei-image-slider:before {
  content: "\e93c";
}
.stylei-info:before {
  content: "\e93d";
}
.stylei-italic:before {
  content: "\e93e";
}
.stylei-key:before {
  content: "\e93f";
}
.stylei-laptop:before {
  content: "\e940";
}
.stylei-layers:before {
  content: "\e941";
}
.stylei-left-right:before {
  content: "\e942";
}
.stylei-left:before {
  content: "\e943";
}
.stylei-letter:before {
  content: "\e944";
}
.stylei-like:before {
  content: "\e945";
}
.stylei-link:before {
  content: "\e946";
}
.stylei-lock:before {
  content: "\e947";
}
.stylei-login:before {
  content: "\e948";
}
.stylei-logout:before {
  content: "\e949";
}
.stylei-magic-stick:before {
  content: "\e94a";
}
.stylei-map-pin:before {
  content: "\e94b";
}
.stylei-menu:before {
  content: "\e94c";
}
.stylei-mobile:before {
  content: "\e94d";
}
.stylei-mobile2:before {
  content: "\e94e";
}
.stylei-engine:before {
  content: "\e94f";
}
.stylei-more-horizontal:before {
  content: "\e950";
}
.stylei-more-vertical:before {
  content: "\e951";
}
.stylei-music:before {
  content: "\e952";
}
.stylei-new-file:before {
  content: "\e953";
}
.stylei-numbered-list:before {
  content: "\e954";
}
.stylei-opened-folder:before {
  content: "\e955";
}
.stylei-pages:before {
  content: "\e956";
}
.stylei-paper-plane:before {
  content: "\e957";
}
.stylei-paperclip:before {
  content: "\e958";
}
.stylei-photo:before {
  content: "\e959";
}
.stylei-photos:before {
  content: "\e95a";
}
.stylei-pin:before {
  content: "\e95b";
}
.stylei-play:before {
  content: "\e95c";
}
.stylei-plus:before {
  content: "\e95d";
}
.stylei-preview:before {
  content: "\e95e";
}
.stylei-print:before {
  content: "\e95f";
}
.stylei-protect:before {
  content: "\e960";
}
.stylei-question:before {
  content: "\e961";
}
.stylei-quote-left:before {
  content: "\e962";
}
.stylei-quote-right:before {
  content: "\e963";
}
.stylei-refresh:before {
  content: "\e964";
}
.stylei-responsive:before {
  content: "\e965";
}
.stylei-right:before {
  content: "\e966";
}
.stylei-rocket:before {
  content: "\e967";
}
.stylei-sad-face:before {
  content: "\e968";
}
.stylei-sale:before {
  content: "\e969";
}
.stylei-save:before {
  content: "\e96a";
}
.stylei-search:before {
  content: "\e96b";
}
.stylei-setting:before {
  content: "\e96c";
}
.stylei-setting2:before {
  content: "\e96d";
}
.stylei-setting3:before {
  content: "\e96e";
}
.stylei-share:before {
  content: "\e96f";
}
.stylei-shopping-bag:before {
  content: "\e970";
}
.stylei-shopping-basket:before {
  content: "\e971";
}
.stylei-shopping-cart:before {
  content: "\e972";
}
.stylei-sites:before {
  content: "\e973";
}
.stylei-smile-face:before {
  content: "\e974";
}
.stylei-speed:before {
  content: "\e975";
}
.stylei-star:before {
  content: "\e976";
}
.stylei-success:before {
  content: "\e977";
}
.stylei-sun:before {
  content: "\e978";
}
.stylei-sun2:before {
  content: "\e979";
}
.stylei-tablet:before {
  content: "\e97a";
}
.stylei-tablet-vertical:before {
  content: "\e97b";
}
.stylei-target:before {
  content: "\e97c";
}
.stylei-timer:before {
  content: "\e97d";
}
.stylei-to-ftp:before {
  content: "\e97e";
}
.stylei-to-local-drive:before {
  content: "\e97f";
}
.stylei-touch-swipe:before {
  content: "\e980";
}
.stylei-touch:before {
  content: "\e981";
}
.stylei-trash:before {
  content: "\e982";
}
.stylei-underline:before {
  content: "\e983";
}
.stylei-unlink:before {
  content: "\e984";
}
.stylei-unlock:before {
  content: "\e985";
}
.stylei-up-down:before {
  content: "\e986";
}
.stylei-up:before {
  content: "\e987";
}
.stylei-update:before {
  content: "\e988";
}
.stylei-upload:before {
 content: "\e926"; 
}
.stylei-user:before {
  content: "\e98a";
}
.stylei-user2:before {
  content: "\e98b";
}
.stylei-users:before {
  content: "\e98c";
}
.stylei-video:before {
  content: "\e98d";
}
.stylei-video-play:before {
  content: "\e98e";
}
.stylei-watch:before {
  content: "\e98f";
}
.stylei-website-theme:before {
  content: "\e990";
}
.stylei-wifi:before {
  content: "\e991";
}
.stylei-windows:before {
  content: "\e992";
}
.stylei-zoom-out:before {
  content: "\e993";
}
.stylei-redo:before {
  content: "\e994";
}
.stylei-undo:before {
  content: "\e995";
}
